@import url(https://fonts.googleapis.com/css?family=Jura);

nav {
  background-color: whitesmoke;
}

body {
  background-image: url("../images/polaroid.png");
  background-repeat: repeat;
  font-family: Jura;
}

 .navbar {
  margin-bottom: 15px;
  font-family: jura;
  background-image: url("../images/polaroid.png");
  background-repeat: repeat;
  font-weight: bold;
} 

.headshot {
  border-radius: 10px;
  
}

#top_section{
  margin-bottom: 50px;
}

h1, h2 {
  color: #0081cc;
}

p{
  color:#0081cc;
  line-height: 1.6;
}

.headshotarea {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

#portthumb{
  margin-bottom: 40px;
}

.about-area {
  padding-top: 40px;
}

#ghbutton, #linkedinbutton {
  margin-bottom: 10px;
}

.connectbuttons {
  margin-bottom: 50px;
}
