@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

nav {
  background-color: whitesmoke;
}

body {
  background-image: url("../images/polaroid.png");
  background-repeat: repeat;
  font-family: Jura;
}

 .navbar {
  margin-bottom: 15px;
  font-family: Jura;
  background-image: url("../images/polaroid.png");
  background-repeat: repeat;
  font-weight: bold;
} 

.navbar-brand {
  font-family: 'Press Start 2P', cursive;
}

.headshot {
  border-radius: 10px;
  
}

#top_section{
  margin-bottom: 50px;
}

h1, h2, h4 {
  color: #0081cc;
  font-family: 'Press Start 2P', cursive;
}

h3, h5, p{
  color:#0081cc;
  line-height: 1.6;
}

.headshotarea {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

#portthumb{
  margin-bottom: 40px;
 
  
}

.about-area {
  padding-top: 40px;
}

#ghbutton, #linkedinbutton, #emailbutton, #twitbutton {
  margin-bottom: 10px;
}

.connectbuttons {
  margin-bottom: 50px;
}

#connectheader{
  margin-bottom: 20px;
}

.thumbnailpic {
  margin: auto;
}

@media only screen and (max-width: 370px) {
  #linkedinbutton {
    width: 100%;
  }
}
